.container {
  width: 100%;
  height: 100%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.numpad-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numpad-input {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.numpad-input input {
  outline: none;
  border: none;
  background: transparent;
  font-size: 60px;
  font-family: inherit;
  width: 12%;
  text-align: center;
}

.numpad-first {
  max-width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.numpad-first > div {
  padding: 1rem 2rem 1rem 2rem;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
}
